@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
